<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
		<add key="DevExpress" value="https://nuget.devexpress.com/3lrphSCxb6K5JeDDclkZ5EqeKgrVLcsJMMNNCEAsvvmt433vFS/api" />
	</packageSources>
	<activePackageSource>
		<add key="NuGet official package source" value="https://api.nuget.org/v3/index.json" />
		<add key="DevExpress" value="https://nuget.devexpress.com/3lrphSCxb6K5JeDDclkZ5EqeKgrVLcsJMMNNCEAsvvmt433vFS/api" />
	</activePackageSource>
</configuration>